%html
  %head
    %title Subtwitles
    %link{:rel => :stylesheet, :type => 'text/css', :href => '/application.css'}
    = haml :default_javascripts
    = haml :extra_javascripts
    = haml :analytics
  %body
    #content
      %h1 Subtwitles
      = haml :stream_selector
      = yield
    = haml :footer
