%html
  %head
    %title Subtwitle
    %link{:rel => :stylesheet, :type => 'text/css', :href => '/application.css'}
    = haml :default_javascripts
    = haml :extra_javascripts
    = haml :analytics
  %body
    #content
      %h1 Subtwitle
      = haml :username_form
      = yield
    = haml :footer
